/* Rows */

.row {
  width: 90vw;
  margin: 0 auto;
  padding-top: 1rem;
  background-color: rgb(3, 161, 237);
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(34,25,25,0.3);
  margin-bottom: 1rem;
  text-align: center; /* Center title and "load more" button */
}

.row-title {
  font-size: 2.5rem;
  border-bottom: .2rem solid white;
}

.row-stats {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.load-more-projects {
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 1rem;
}

/* Stats */

.stat, .project {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project {
  text-align: left;
}

.stat-name {
  font-size: 1rem;
  align-self: center;
}

.emoji {
  font-size: 2rem;
}

.stat-value {
  font-size: 2.5rem;
  align-self: center;
}

/* Projects */

.project-title {
  justify-content: center;
  display: flex;
  font-size: 1.25rem;
  cursor: pointer;
}

.project-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.project-thumbnail {
  height: 7rem;
  width: 9.33rem;
  cursor: pointer;
}

.project-stats {
  align-self: center;
}

.project-stat-value {
  float: right;
  margin-left: .5rem;
}

.project-stat-bold {
  font-weight: 800;
}

/* Media */

/* Desktop */
@media screen and (min-width: 850px) {
  .project {
    width: 25.1%;
  }
  .row-stats {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .stat {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

/* Mobile landscape */
@media screen and (max-width: 850px) and (min-aspect-ratio: 13/9) {
  .project {
    width: 25.1%;
  }
}

/*Mobile portrait*/
@media screen and (max-width: 850px) and (max-aspect-ratio: 13/9) {
  .row-stats {
    flex-direction: column;
  }
}
